[core]
	excludesfile = /Users/leon/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = Leon Bienek
	email = leon13@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICTDg1nkfTiY3Ov6nvNdWA2rAy8fTptDLDSRSsSzta/3

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
